albumentations==1.4.15
Brotli==1.1.0
numpy==1.24.4
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.0.3
Pillow==9.4.0
Pillow==11.0.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==1.12.0
torchvision==0.13.0
tqdm==4.66.5
